.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    width: 95%;
    margin: 50px auto;
    background-color: rgb(57, 12, 24);
}

.grid-item {
    background-color: #c98a95;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    min-height: 100px;
    text-align: center;
    font-size: 1.5em;
}

.span-item {
    background-color: #c98a95;
    grid-column: 1 / 4;
    font-weight: bold;
    color: rgb(11, 36, 65);
}
